body {
  background-image: url(images/ricardo-rojas.jpg);
  background-size: cover;
}

.heading {
  text-align: center;
  font-size: 7rem;
  color: #ad3045;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  text-shadow: 4px 0 #d3ccb8;
}

.drum {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #351e1c;
}
.foot {
  display: flex;
  align-items: flex-end;
  color: #ad3045;
  font-family: "Permanent Marker", cursive;
  font-size: 1.5rem;
  padding: 50px 20px;
}

.a {
  background-image: url(images/crash.png);
}

.s {
  background-image: url(images/kick.png);
}

.d {
  background-image: url(images/snare.png);
}

.f {
  background-image: url(images/tom1.png);
}

.j {
  background-image: url(images/tom2.png);
}

.k {
  background-image: url(images/tom3.png);
}

.l {
  background-image: url(images/tom4.png);
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #d3ccb8;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 5px solid #1e1110;
  font-size: 5rem;
  font-family: "Permanent Marker", cursive;
  line-height: 2;
  font-weight: 400;
  color: #560411;
  text-shadow: 4px 0 #d3ccb8;
  border-radius: 35px;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: white;
}
